<h1>Hi</h1>

<% costumers.forEach(costumer => { %>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <%=costumer.name%>
        <span class="badge"><%- include('../partials/crudBtn', {url:`/costumers/${costumer.id}`})%> </span>
        <%- include('../partials/deleteForm', {url:`/costumers/${costumer.id}`})%>

    </li>

</ul>

<%})%>

<div>
    <h1>Skills</h1>
</div>
<% skills.forEach(skill => { %>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <%=skill.name%>
        <span class="badge"><%- include('../partials/crudBtn', {url:`/skills/${skill.id}`})%> </span>
        <%- include('../partials/deleteForm', {url:`/skills/${skill.id}`})%>

    </li>

</ul>

<%})%>


<div>
    <h1>Projetos</h1>
</div>
<% projects.forEach(project => { %>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <%=project.name%>
        <span class="badge"><%- include('../partials/crudBtn', {url:`/projects/${project.id}`})%> </span>
        <%- include('../partials/deleteForm', {url:`/projects/${project.id}`})%>

    </li>

</ul>

<%})%>


<div>
    <h1>Social Media</h1>
</div>
<% socials.forEach(social => { %>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <%=social.name%>
        <span class="badge"><%- include('../partials/crudBtn', {url:`/socials/${social.id}`})%> </span>
        <%- include('../partials/deleteForm', {url:`/socials/${social.id}`})%>

    </li>

</ul>

<%})%>



<form action="admin/logout?_method=DELETE" method="POST">
    <button type="submit">logout</button>


</form>