<div>
    <label>Name</label>
    <input type="text" name="name" value="<%= project.name %>">
</div>
<div>
    <label>Description</label>
    <input type="text" name="description" value="<%= project.description %>">
</div>
<div>
    <label>Backend Tecnology</label>
    <input type="text" name="backEndTec" value="<%= project.backEndTec %>">
</div>
<div>
    <label>Frontend Tecnology</label>
    <input type="text" name="frontEndTec" value="<%= project.frontEndTec %>">

</div>
<div>
    <label>Started at</label>
    <input type="date" name="startDate"
        value="<%= project.startDate == null ? '': project.startDate.toISOString().split('T')[0] %>">

</div>
<div>
    <label>Ended</label>
    <input type="date" name="endDate"
        value="<%= project.endDate == null ? '': project.endDate.toISOString().split('T')[0] %>">

</div>
<div>
    <label>Mine or someone else´s project</label>
    <% var options = ["Select option","It is mine and made by me","No, it was costumer´s code I just gave it maintance","Costumer beggined the code and there was I"] %>
    <%var values = [0,1,2,3] %>
    <%var i = 0%>
    <select name="privateProject">
        <% costumers.forEach(costumer =>{ %>
        <% if (values.includes(project.privateProject)){ %>
        <option selected label="<%= options[i] %>" value="<%=values[i]%>"></option>
        <% }else{%>
        <option label="<%= options[i] %>" value="<%=values[i]%>"></option>
        <%}%> 
            <%i=i+1})%>
    </select>

    </select>

</div>
<div>
    <label>Can I show the produced code?</label>
    <select name="canShowTheCode">
        <%var options = ["Yes, the code was mine and produced by me","No, it was costumer´s code"]%>
        <%var values = [0,1]%>
        <%var i = 0%>

        <% options.forEach(option =>{ %>
        <% if (project.paidInFull){ %>
        <option selected label="<%= options[i] %>" value="<%=values[i]%>"></option>
        <% }else{%>
        <option label="<%= options[i] %>" value="<%=values[i]%>"></option>
        <%}%> 
        <%i=i+1})%>


    </select>
</div>
<div>
    <label>How was I paid</label>
    <% var options = ["Select option","Paid by hour","Paid by Project","Contract","On my own"] %>
    <%var values = [0,1,2,3,4] %>
    <%var i= 0 %>
    <select name="paidInFull">
        <% costumers.forEach(costumer =>{ %>
        <% if (values.includes(project.paidInFull)){ %>
        <option selected label="<%= options[i] %>" value="<%=values[i]%>"></option>
        <% }else{%>
        <option label="<%= options[i] %>" value="<%=values[i]%>"></option>
        <%}%> 
        <%i=i+1})%>
    </select>
</div>
<div>
    <label>Project</label>
    <select name="costumer">
        <% costumers.forEach(costumer =>{ %>
        <% if (costumer.id === project.costumer){ %>
        <option selected label="<%= costumer.name %>" value="<%=costumer.id%>"></option>
        <% }else{%>
        <option label="<%= costumer.name %>" value="<%=costumer.id%>"></option>
        <%}%> 
    <%})%> </select>
</div>