<h2 class="page-header"><%= costumer.name %></h2>

<div>
    <a href="<%= costumer.urlRoot%>">Costumer site</a>
</div>
<div>
    Job description: <%= costumer.jobDescription%>
</div>
<div>
    Date start: <%= costumer.dateFrom.toDateString()%>
</div>
<div>
    End date: <%= costumer.dateFinal.toDateString()%>
</div>
<div>
    Costumer review: <%= costumer.review%>
</div>
<div>
    Side note: <%= costumer.sideNote%>
</div>



<a href="/costumers/<%=costumer.id %>/edit">Edit</a>
<%- include('../partials/deleteForm',{url: `/costumers/${costumer.id}`}) %>